body {
    margin: 0;

}

div {
    margin: 0;
    padding: 0 50px;
    border: 0;
    height: 400px;
    background-color: #1F2937;
}

div.header, div.footer, div.first {
    background-color: #1F2937;
    height: 100px;
}

div.header {
    display:flex;
    justify-content: space-between;
}

div.first {
    height: 400px;
    display: flex;
    justify-content: center;
}

.awesome {
    margin: 0;
    padding: 0;
    border: 0;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.under-awesome {
    margin: 0;
    padding: 0;
    border: 0;
    color: #E5E7EB;
    font-size: 18px;
}

div.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 24px;
    border-radius: 10px;
    outline: none;
    display: flex;
    padding: 5px 10px;
    height: 24px;
    width: 100px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

a.signup {
    text-decoration: none;
    color: #F9FAF8;
}

div.footer {
    display:flex;
    justify-content: center;
}

div.logo {
    font-size: 25px;
    color: white;
}

div.link-one {
    margin-left: auto;
}

a {
    color: #cc9900;
}

a:hover {
    color: white;
}

img {
    height: auto; width: 200px;
}